<html>
    <head>
        <title>Email Confirmation</title>
    </head>

    <body>
        <p>Thank you for registering to be a Jukebox Jamer! To continue with profile creation
            , please click the confirmation link below.
        </p>
        <p><a href="{{ confirm_email_url }}">Confirm Email and Create Profile</a></p>
        <p>If you did not regiser for Jukebox Jam, either ignore this email or contact Support at
            (xxx) xxx-xxxx (this number is a placeholder please do not attempt to call it).
        </p>
    </body>
</html>